.header {
  @include flex(space-between, center, row);
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid #333;
  background-color: $header;
  font-family: $main-font;

  &__logo {
    text-decoration: none;
    font-size: 25px;
  }

  &__logo-icon {
    display: inline-block;
    color: $main-color;
  }

  &__logo-name {
    display: inline-block;
    font-family: $span-font;
    color: $text-color;
  }

  &__nav-element {
    @include reset-list;
    display: inline-block;
    margin: 0 15px;
  }

  &__nav-link {
    @include reset-link;
  }
}

.hamburger-menu {
  display: none;
  font-size: 25px;
  color: $text-color;
}

.hamburger-content {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: max-content;
  width: 100%;
  background-color: #333;

  &__link {
    @include reset-link;
    display: block;
    margin: 30px 20px;
    font-weight: bold;
    color: white;
  }
}

.hamburger-content--active {
  display: block;
}

@media (max-width: 495px) {
  .header {
    &__nav {
      display: none;
    }
  }

  .hamburger-menu {
    display: block;
  }
}
